</main>
    <footer class="footer">
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() %> Blogsini :). Hecho con <span class="footer-heart">❤️</span></p>
        </div>
    </footer>
</body>
</html>